

body {
    

}


#everything {
    max-width: 900px;
    margin-left: 300px;
}

#everythingelse {
    max-width: 900px;
    margin-left: 300px;
    margin-bottom: 100px;
}

#trainheader {
    text-align: center;
    background-color:pink
    
}

#tabla {
    
    
    
}

#submit {
    margin-left:400px;
}